DB_HOST=XXXXXXXXXXXXXXXXXXXX
DB_USER=XXXXXXXXXXXXXXXXXXXX
DB_PASS=XXXXXXXXXXXXXXXXXXXX
DEMO_DB_HOST=localhost
DEMO_DB_USER=XXXXXXXXXXXXXXXXXXXX
DEMO_DB_PASS=XXXXXXXXXXXXXXXXXXXX
DB_BLOCKCHAIN=XXXXXXXXXXXXXXXXXXXX
DB_EXCHANGE=XXXXXXXXXXXXXXXXXXXX
DB_COIN=XXXXXXXXXXXXXXXXXXXX
DB_USERDB=XXXXXXXXXXXXXXXX
DB_DIALECT=XXXXXXXXXXXXXXXXXXXX
GA_ANALYTICS=XXXXXXXXXXXXXXXXXXXX
AUTH_SECRET=XXXXXXXXXXXXXXXXXXXX
SENDFOX_KEY=XXXXXXXXXXXXXXXXXXXX
MAILGUN_API_KEY=XXXXXXXXXXXXXXXXXXXX
MAILGUN_DOMAIN=XXXXXXXXXXXXXXXXXXXX
NEXT_PUBLIC_SUPABASE_URL=https://your-project-id.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key-here
