DB_HOST=XXXXXXXXXXXXXXXXXXXX
DB_USER=XXXXXXXXXXXXXXXXXXXX
DB_PASS=XXXXXXXXXXXXXXXXXXXX
DEMO_DB_HOST=localhost
DEMO_DB_USER=XXXXXXXXXXXXXXXXXXXX
DEMO_DB_PASS=XXXXXXXXXXXXXXXXXXXX
DB_BLOCKCHAIN=XXXXXXXXXXXXXXXXXXXX
DB_EXCHANGE=XXXXXXXXXXXXXXXXXXXX
DB_USERDB=XXXXXXXXXXXXXXXX
DB_DIALECT=XXXXXXXXXXXXXXXXXXXX
GA_ANALYTICS=XXXXXXXXXXXXXXXXXXXX
AUTH_SECRET=XXXXXXXXXXXXXXXXXXXX
MAILGUN_API_KEY=c6d3739f130fe970ebbd3781adf0a7da-2b91eb47-3b3431af
MAILGUN_DOMAIN=sandboxa64f07d2b754494684cc482f3cc8c1d2.mailgun.org
SENDFOX_KEY=XXXXXXXXXXXXXXXXXXXX
