DB_HOST=XXXXXXXXXXXXXXXX
DB_USER=XXXXXXXXXXXXXXXX
DB_PASS=XXXXXXXXXXXXXXXX
DEMO_DB_HOST=localhost
DEMO_DB_USER=XXXXXXXXXXXXXXXX
DEMO_DB_PASS=XXXXXXXXXXXXXXXX
DB_BLOCKCHAIN=XXXXXXXXXXXXXXXX
DB_EXCHANGE=XXXXXXXXXXXXXXXX
DB_DIALECT=mysql
REDIS_HOST=XXXXXXXXXXXXXXXX
REDIS_PORTS=6379
REDIS_PASS=XXXXXXXXXXXXXXXX
USEREDIS=FALSE