DB_HOST=XXXXXXXXXXXXXXXXXXXX
DB_USER=XXXXXXXXXXXXXXXXXXXX
DB_PASS=XXXXXXXXXXXXXXXXXXXX
DEMO_DB_HOST=localhost
DEMO_DB_USER=XXXXXXXXXXXXXXXXXXXX
DEMO_DB_PASS=XXXXXXXXXXXXXXXXXXXX
DB_BLOCKCHAIN=XXXXXXXXXXXXXXXXXXXX
DB_EXCHANGE=XXXXXXXXXXXXXXXXXXXX
DB_COIN=XXXXXXXXXXXXXXXXXXXX
DB_USERDB=XXXXXXXXXXXXXXXX
DB_DIALECT=XXXXXXXXXXXXXXXXXXXX
GA_ANALYTICS=XXXXXXXXXXXXXXXXXXXX
AUTH_SECRET=XXXXXXXXXXXXXXXXXXXX
SENDFOX_KEY=XXXXXXXXXXXXXXXXXXXX
